
.css3_test{
    height: 600px;
    width: 100%;
    position: relative;
}
.wrap{
    width: 100%;
    height: 600px;
    background: rgba(248, 178, 98, 0.192);
    position: absolute;
    top: 50%;
    margin-top: -300px;
    overflow: hidden;

    /*-webkit-perspective: 800px;         视图大小，设置太小会超出视图，设置了才能看到3D旋转效果 */
}
/* 卡片样式 card */
.card{
    width: 260px;
    height: 320px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0,.01);

    transition: all 0.6s ease-in-out;  /* 过渡动画效果 */
}
.card .side{
    width: 100%;
    height: 100%;
    background-color: rgba(247, 244, 244, 0.774);
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;

    block-size: border-box;       /* 内容和高度不超过边框 */
}
/* .card .side_front{} */
.card .side_front .image{
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}
.card .side_front .image img{
    width: 100%;
}
.card .side_front .caption{
    text-align: center;
    font-size: 25px;
}
/* .card .side_back{} */
.card .side_back .desc{
    color: rgb(7, 7, 7);
    font-size: 14px;
    line-height: 1.5em;
}
/* 当前选中海报的样式 */
.card_center{
    top: 50%;
    left: 50%;
    margin: -160px 0 0 -130px;
    z-index:99;

    transform: scale(1.2);
}
/* 负责翻转 */
.photo_wrap{
    position: absolute;
    width: 100%;
    height: 100%;

    transform-style: preserve-3d;   /* 支持3d */
    transition: all 0.6s ease-in-out;  /* 过渡动画效果 */
}
.photo_wrap .side_front{
    transform: rotateY(0deg);
}
.photo_wrap .side_back{
    transform: rotateY(180deg);
}
.photo_wrap .side{
    backface-visibility: hidden;    /* 看不见时隐藏 */
}
.card_front .photo_wrap{
    transform: rotateY(0deg);
}
.card_back .photo_wrap{
    transform: rotateY(180deg);
}

/* 圆点导航栏 */
.nav{
    display: inline-block;
    position: absolute;
    top:80%;
    left: 50%;
    margin: 85px 0 0 -130px;
    z-index: 99;

    height: 30px;
    text-align: center;
}
.nav > span{
    display: inline-block;
    padding: 15px 15px;
    border-radius: 15px;
    background: rgba(128, 128, 128, 0.486);
    margin-left: 2px;
    transform: scale(0.7, 0.7);
}
.nav .nav_choose{
    background:  linear-gradient(to right,rgb(243, 106, 106), rgb(255, 251, 0));;
    transform: scale(1, 1);
    transition: all .3s;
}
.nav .nav_back{
    transform: rotateY(180deg);
}


/* 优化
1.卡片添加动画使其平滑过渡
2.选中卡片适当放大
3.样式兼容  transform  -moz-transform  火狐  -webkit-transform 谷歌
*/


