/* 鼠标悬浮时 动画 */
.juxing_wrap{
    display: flex;
    justify-content: space-around;
    background: rgba(1, 1, 248, 0.411);
    text-align: center;
    height: 230px;
}
.juxing_box{
    background: #fff;    
    flex: 1;
    transition: all 1s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.compangPic{
    margin: 10px auto;
    
}
.compangPic > div{transition: width 0.8s ease-in-out;}
.compangPic_img{
    width: 32px;
}
.imgchoose{
    width: 37px;
}
.compangPic_img img,.imgchoose img{
    width: 100%;height: 100%;
}
.juxing_noactive{
    align-items: center;
    margin: 30px;
}

.juxing_active{
    align-items: stretch;
    margin:0 30px;
}
.companyName{font-size: 18px;color: rgb(0, 0, 0);}
.companyDesc{
    animation:mymove 1s normal ;
	/*Safari 和 Chrome:*/
    -webkit-animation:mymove 1s  normal;
    margin: 10px 0 0 0;
    font-size: 14px;
    color: rgb(0, 119, 255);
}

@keyframes mymove
	{
	from {display: none;color: #fff;}
	to {display: block;color: rgb(0, 119, 255);}
}

/*Safari 和 Chrome:*/
@-webkit-keyframes mymove
{
	from {display: none;color: #fff;}
	to {display: block;color: rgb(0, 119, 255);}
}

/* 圆形 描边动画 */
